<div class="w3-container">
       <h4 class="w3-centered w3-center"><strong>Feature-wise Reviews</strong></h4>
       <div id="accordion">
              <div class="card">
                     <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapse1">
                                   Affordability
                            </a>
                     </div>
                     <div id="collapse1" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[0] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[1] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[2] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[3] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class=" collapsed card-link" data-toggle="collapse" href="#collapse2">
                                   Amenities
                            </a>
                     </div>
                     <div id="collapse2" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[4] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[5] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[6] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[7] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class=" collapsed card-link" data-toggle="collapse" href="#collapse3">
                                   Cleanliness
                            </a>
                     </div>
                     <div id="collapse3" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[8] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[9] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[10] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[11] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class=" collapsed card-link" data-toggle="collapse" href="#collapse4">
                                   Customer Support
                            </a>
                     </div>
                     <div id="collapse4" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[12] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[13] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[14] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[15] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class=" collapsed card-link" data-toggle="collapse" href="#collapse5">
                                   Food
                            </a>
                     </div>
                     <div id="collapse5" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[16] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[17] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[18] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[19] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class=" collapsed card-link" data-toggle="collapse" href="#collapse6">
                                   Location
                            </a>
                     </div>
                     <div id="collapse6" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[20] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[21] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[22] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[23] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class=" collapsed card-link" data-toggle="collapse" href="#collapse7">
                                   Payment
                            </a>
                     </div>
                     <div id="collapse7" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[24] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[25] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[26] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[27] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapse8">
                                   Quietness
                            </a>
                     </div>
                     <div id="collapse8" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[28] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[29] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[30] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[31] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class=" collapsed card-link" data-toggle="collapse" href="#collapse9">
                                   Staff
                            </a>
                     </div>
                     <div id="collapse9" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[32] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[33] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[34] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[35] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class=" collapsed card-link" data-toggle="collapse" href="#collapse10">
                                   View
                            </a>
                     </div>
                     <div id="collapse10" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[36] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[37] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[38] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[39] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>

              <div class="card">
                     <div class="card-header">
                            <a class=" collapsed card-link" data-toggle="collapse" href="#collapse11">
                                   Wi-Fi/ Internet
                            </a>
                     </div>
                     <div id="collapse11" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                   <table class="w3-table w3-striped w3-white w3-bordered w3-border">
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[40] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[41] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[42] }}"</td>
                                          </tr>
                                          <tr>
                                                 <td><i class="fa fa-comment w3-text-blue w3-large"></i></td>
                                                 <td>"{{ c3[43] }}"</td>
                                          </tr>
                                   </table>
                            </div>
                     </div>
              </div>
              <!--accordion-->
       </div>
       <!--accordion ka baap-->
</div>